<nav class="blog-pagination mt-5" aria-label="Pagination">
  <a class="btn btn-outline-secondary rounded-pill" href="#"><</a>
  <a class="btn btn-outline-primary rounded-pill" href="#">1</a>
  <a class="btn btn-outline-secondary rounded-pill">2</a>
  <a class="btn btn-outline-secondary rounded-pill">3</a>

  <span>...</span>

 
  <a class="btn btn-outline-secondary rounded-pill" href="#">18</a>
  <a class="btn btn-outline-secondary rounded-pill">19</a>
  <a class="btn btn-outline-secondary rounded-pill">20</a>
   <a class="btn btn-outline-secondary rounded-pill" href="#">></a>
</nav>
<p class="text-end p-2 border-top">Total 5 Posts</p>
